* {
  margin: 0;
}
body {
  font-family: "Epilogue", sans-serif;
  text-decoration: none;
  background-color: hsl(0, 0%, 98%);
}
a,
li,
p,
summary{
  font-size: 1rem;
}
/* Navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  color: hsl(0, 0%, 41%);
  position: fixed;
  top: 0;  
  width: 100%;
  padding: 2%;
  align-items: flex-start;
  box-sizing: border-box;
}
.nav-list {
  list-style: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%;
  background-color: hsl(0, 0%, 98%);
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  transform: translateX(100%);
  transition: transform 0.5s;
}
.open .nav-list {
  transform: none;
}
.navbar-brand{
  padding: 10px;
}
/* Nav Items */
.nav-item{
  padding: 10px;
}
.nav-item a {
  color: hsl(0, 0%, 41%);
  text-decoration: none;
}
.nav-item details a{
  display: block;
}
.nav-item details a:hover{
  color: hsl(0, 0%, 8%);
}
.center-link{
  text-align: center;
}
.grow{
  flex-grow: 2;
}
.nav-link:hover,
summary:hover{
  color: hsl(0, 0%, 8%);
  transition: .3s;
}
/* Nav CTA button */
a.nav-link.register-btn {
  border: 2px solid hsl(0, 0%, 41%);
  padding: 12px 20px;
  border-radius: 15px;
  transition: .3s;
  display: block;
}
a.nav-link.register-btn:hover {
  border: 2px solid hsl(0, 0%, 8%);
  color: hsl(0, 0%, 8%);
  transition: .3s;
}
/* Hamburger menu */
.menu-toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin: 0 20px;
}
.hamburger {
  width: 2.4rem;
  height: 2px;
  background-color: hsl(0, 0%, 8%);
  border-radius: 2px;
  border: none;
  transition: all 0.7s ease-out;
}
.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  width: 2.4rem;
  height: 2px;
  background-color: hsl(0, 0%, 8%);
  border-radius: 2px;
  border: none;
}
.hamburger::before {
  transform: translateY(-8px);
}
.hamburger::after {
  transform: translateY(8px);
}
.open .hamburger {
  background: transparent;
}
.open .hamburger::before {
  transform-origin: (0, 0);
  transform: rotate(45deg);
}
.open .hamburger::after {
  transform-origin: (0, 0);
  transform: rotate(-45deg);
}
/* Details in Nav */
details > summary {
  list-style: none;
  cursor: pointer;
}
details > summary::-webkit-details-marker {
  display: none;
}
summary::after{
  content: "\f107";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-left: 15px;
}
details > summary::-webkit-details-marker {
  display: none;
}
details[open] summary::after {
  content: "\f106";
}
details div{
  padding: 20px;
}
details a{
  padding: 10px 0;
}
details img{
  padding-right: 15px;
}
/* Media Queries for Nav */
@media screen and (min-width: 768px) {
  .nav-list {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    padding: 0;
    flex-direction: row;
    transform: initial;
    transition: initial;
    justify-content: space-between;
  }
  .nav-group{
    display: flex;
    align-items: center;
  }
  .nav-group li{
    padding: 0 30px;
  }
  .nav-item a,
  summary{
    font-size: .8rem;
  }
  details div{
    position: absolute;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 15px;
    border-radius: 10px;
  }
  .menu-toggle {
    display: none;
  }
}
/* Hero Section */
.hero-section {
  display: grid;
  text-align: center;
  margin: 15% 0;
}
.hero-text {
  margin: 25px;
  display: grid;
  align-items: end;
}
.hero-section h1 {
  font-weight: 700;
  color: hsl(0, 0%, 8%);
  font-size: 2rem;
  padding: 20px 0;
}
.hero-section p {
  color: hsl(0, 0%, 41%);
  font-size: 18px;
  line-height: 1.5;
}
.hero-image {
  order: -1;
}
@media screen and (min-width: 992px) {
  .hero-section {
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    text-align: left;
    gap: 0 5%;
    margin: 7% 10%;
  }
  .hero-text h1 {
    font-size: 4rem;
  }
  .hero-image {
    order: 1;
  }
}
@media screen and (min-width: 1200px) {
  .hero-image {
    max-width: 80%;
    margin: 0 auto;
  }
}
/* CTA buttin */
.cta-btn {
  display: inline-block;
  text-decoration: none;
  color: hsl(0, 0%, 98%);
  background-color: hsl(0, 0%, 8%);
  border: 2px solid hsl(0, 0%, 8%);
  padding: 15px 25px;
  border-radius: 15px;
  font-size: 18px;
  margin: 30px 0;
  transition: .3s;
}
.cta-btn:hover{
  color: hsl(0, 0%, 8%);
  background-color: hsl(0, 0%, 98%);
  border: 2px solid hsl(0, 0%, 8%);
  transition: .3s;
}
/* Clients group styling */
.clients {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 0px 20px;
  padding: 20px 0;
}
.clients img {
  max-width: 100%;
}
/* Footer */
footer {
  text-align: center;
  padding: 20px 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 15%;
}
footer p,
footer a {
  font-size: 0.5rem;
  color: hsl(0, 0%, 41%);
  line-height: 1.5;
}

